<div class="shadow-md rounded-md">
  <div class="flex">
    <img class="w-full max-h-48" *ngIf="vehicle?.foto; else noImage"  [src]="imagesProviderUrl + vehicle?.foto" alt="Foto" />

    <ng-template #noImage>
      <img class="w-full max-h-48" [src]="'/assets/empty-image.jpg'" />
    </ng-template>
  </div>
  <div class="flex flex-col px-4 py-2">
    <div>
      <span class="font-bold text-lg">{{ vehicle?.nome }}</span>
    </div>
    <div>
      <span class="font-bold text-gray-500">{{ vehicle?.marca }}</span>
    </div>
    <div>
      <span
        >Modelo: <span class="font-bold">{{ vehicle?.modelo }}</span></span
      >
    </div>
    <div>
      <span class="font-bold text-xl text-blue-600"
        >R${{ vehicle?.preco | number : "1.2-2" }}</span
      >
    </div>
  </div>
</div>