<div class="mx-auto lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl">

  <div class="mt-10">
    <div class="mb-10">
      <button
      class="bg-green-500 text-white p-4 rounded-md"
      mat-flat-button
      [routerLink]="'/veiculos/adicionar'"
    >
      Adicionar novo +
    </button>
    </div>

    <div class="overflow-scroll" *ngIf="vehicles$ | async as vehicles">
      <table mat-table [dataSource]="vehicles">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let vehicle">{{ vehicle.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let vehicle">{{ vehicle.nome }}</td>
        </ng-container>
  
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
          <td mat-cell *matCellDef="let vehicle">{{ vehicle.marca }}</td>
        </ng-container>
  
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef>Modelo</th>
          <td mat-cell *matCellDef="let vehicle">{{ vehicle.modelo }}</td>
        </ng-container>
  
        <ng-container matColumnDef="preco">
          <th mat-header-cell *matHeaderCellDef>Preço</th>
          <td mat-cell *matCellDef="let vehicle">{{ vehicle.preco }}</td>
        </ng-container>
  
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef class="!text-center">
            Editar veículo
          </th>
          <td mat-cell *matCellDef="let vehicle" class="!text-center">
            <button
              class="bg-yellow-400 text-black p-2 rounded-md"
              mat-flat-button
              [routerLink]="'/veiculos/editar/' + vehicle.id"
            >
              Editar
            </button>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="excluir">
          <th mat-header-cell *matHeaderCellDef class="!text-center">
            Excluir veículo
          </th>
          <td mat-cell *matCellDef="let vehicle" class="!text-center">
            <button
              class="bg-red-500 text-white p-2 rounded-md"
              mat-flat-button
              (click)="deleteVehicle(vehicle.id)"
            >
              Excluir
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </div>
  </div>


  
</div>
